<%- include('../../fragments/header.ejs') %>
            <main>
                <script type="application/javascript" src="/js/validationRaidForm.js" ></script>
                <h2><%= pageTitle %></h2>
                <form class="form" method="post" action="<%=formAction%>" onsubmit="return validateForm();">

                    <input type="hidden" name="raidSpots" value="40">
                    <input type="hidden" name="_id" value="<%= raid._id %>">


                    <label for="instanceName">Name:<abbr title="required">*</abbr></label>
                    <select name="instanceName" id="instanceName" required>
                        <%console.log(raid)%>
                        <% if ((raid.instanceName) == 'choose' || (raid.instanceName) == undefined ) { %>
                            <option value="choose" selected>---Choose raid---</option>
                            <option value="MC">MC</option>
                            <option value="BWL">BWL</option>
                            <option value="NAXX">NAXX</option>
                        <% } %>

                            <% if ((raid.instanceName) == 'MC') { %>
                                <option value="choose">---Choose raid---</option>
                                <option value="MC" selected>MC</option>
                                <option value="BWL">BWL</option>
                                <option value="NAXX">NAXX</option>
                            <% } %>

                            <% if ((raid.instanceName) == 'BWL') { %>
                                <option value="choose">---Choose raid---</option>
                                <option value="MC">MC</option>
                                <option value="BWL" selected>BWL</option>
                                <option value="NAXX">NAXX</option>
                            <% } %>


                            <% if ((raid.instanceName) == 'NAXX') { %>
                                <option value="choose">---Choose raid---</option>
                                <option value="MC">MC</option>
                                <option value="BWL">BWL</option>
                                <option value="NAXX" selected>NAXX</option>
                            <% } %>

                    </select>
                    <span id="errorInstanceName" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('instanceName'))) { %>
                            <%= validationErrors.find(e => e.path.includes('instanceName')).message %>
                        <% } %>
                    </span>
                        
                        
                        <label for="raidDate">Date:<abbr title="required">*</abbr></label>
                        <input type="datetime-local" id="raidDate"
                           name="raidDate" value="<%= new Date()%>"
                           min="<%= new Date()%>" max="2025-06-14T00:00">
                        <span id="errorRaidDate" class="error-text">
                            <% if (validationErrors.find(e => e.path.includes('raidDate'))) { %>
                                <%= validationErrors.find(e => e.path.includes('raidDate')).message %>
                            <% } %>
                        </span>

                    <label for="requirements">Requirements:</label>
                    <textarea id="requirements" name="requirements" maxlength="100" placeholder="Max 100 letters..."></textarea>
                    <span id="requirements" class="error-text">
                        <% if (validationErrors.find(e => e.path.includes('requirements'))) { %>
                            <%= validationErrors.find(e => e.path.includes('requirements')).message %>
                        <% } %>
                    </span>


                        <label for="raidNote">Note:</label>
                        <textarea id="raidNote" name="raidNote" maxlength="250" placeholder="Max 250 letters..."
                              rows="5" cols="33" class="<%= validationErrors.find(e => e.path.includes('raidNote')) ? 'error-input' : '' %>"></textarea>
                        <span id="raidNote" class="error-text">
                            <% if (validationErrors.find(e => e.path.includes('raidNote'))) { %>
                                <%= validationErrors.find(e => e.path.includes('raidNote')).message %>
                            <% } %>
                        </span>
                    
                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a class="form-button-cancel" href="/raids">Cancel</a>
                    </div>

                </form>
                
                
            </main>
<%- include('../../fragments/footer.ejs') %>

