<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= pageTitle %></h2>


        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Rank</th>
                    <th>Class</th>
                    <th>Gear Score</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

            <% for (let player of players) {%>
                <tr>
                    <td><%=player.ingameName %></td>
                    <td><%=player.email %></td>
                    <td><%=player.guildRank %></td>
                    <td><%=player.actualClass %></td>
                    <td><%=player.gearScore %></td>
                    <td>

                        <% if(loggedUser.guildRank == 'GUILD MASTER') { %>
                        <ul class="list-actions">
                            <li>
                                <a href="/players/details/<%=player._id%>" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/players/edit/<%=player._id%>" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="/players/delete/<%=player._id%>" class="list-actions-button-delete">Remove</a>
                            </li>
                        </ul>
                        <% } %>

                        <% if(loggedUser.guildRank == 'MEMBER' || loggedUser.guildRank == 'OFFICER') { %>
                        <ul class="list-actions">
                            <li>
                                <a href="/players/details/<%=player._id%>" class="list-actions-button-details">Details</a>
                            </li>
                        </ul>
                    <% } %>
                    </td>
                    <% } %>
            </tbody>
        </table>

        <div>
            <% if(loggedUser.guildRank == 'GUILD MASTER') { %>
                <a href="/raids/add" class="button-add">Add new raid</a>
            <% } %>
        </div>
    </main>

<%- include('../../fragments/footer.ejs') %>