<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Players List</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Rank</th>
                    <th>Class</th>
                    <th>Gear Score</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
            <% for (let player of players) {%>
                <tr>
                    <td><%=player.ingameName %></td>
                    <td><%=player.email %></td>
                    <td><%=player.guildRank %></td>
                    <td><%=player.actualClass %></td>
                    <td><%=player.gearScore %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/players/details/<%=player._id%>" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/players/edit/<%=player._id%>" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="/players/delete/<%=player._id%>" class="list-actions-button-delete">Remove</a>
                            </li>
                        </ul>
                    </td>
                    <% } %>
            </tbody>
            
        </table>

        <p><a href="/players/add" class="button-add">Add new player</a></p>
    </main>

<%- include('../../fragments/footer.ejs') %>