<%- include('../../fragments/header.ejs') %>
            <main>
                <script type="application/javascript" src="/js/validationSignupForm.js"></script>
                <h2>New signup</h2>

                <form class="form" method="post" onsubmit="return validateForm();">

                <input type="hidden" name="raid_id" value="<%= raid._id %>">



                    <label for="pl_id">Player:<sup></sup></label>
                    <select name="pl_id" id="pl_id" class="<%= validationErrors.find(e => e.path.includes('pl_id')) ? 'error-input' : '' %>">
                            <option value="choose" selected>---Choose player---</option>
                           <% for (let i=0; i<allPlrs.length; i++) { let player = allPlrs[i]; %>
                           <option value="<%= player._id %>" label="<%=player.ingameName %>"></option>
                            <% } %>
                    </select>
                    <span id="errorPl_Id" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('pl_id'))) { %>
                            <%= validationErrors.find(e => e.path.includes('pl_id')).message %>
                        <% } %>
                    </span>

                    <label for="name">Raid:<sup></sup></label>
                    <input type="text"  name="raid_id" id="raid_id"  value="<%= raid._id %>" class="<%= validationErrors.find(e => e.path.includes('raid_id')) ? 'error-input' : '' %>" disabled >
                    <span id="errorRaidId" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('raid_id'))) { %>
                            <%= validationErrors.find(e => e.path.includes('raid_id')).message %>
                        <% } %>
                    </span>

                    <label for="role">Role:<sup></sup></label>
                    <select name="role" id="role" required class="<%= validationErrors.find(e => e.path.includes('role')) ? 'error-input' : '' %>">
                        <option value="DPS" selected>DPS</option>
                        <option value="HEALER">HEALER</option>
                        <option value="TANK">TANK</option>
                    </select>
                    <span id="errorRole" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('role'))) { %>
                            <%= validationErrors.find(e => e.path.includes('role')).message %>
                        <% } %>
                    </span>

                    <label for="signupNote">Note:</label>
                    <textarea id="signupNote" name="signupNote" rows="1" cols="20" maxlength="15"></textarea>
                    <span id="errorSignupNote" class="errors-text"></span>


                    <input type="hidden" name="signupDate" value=<%= new Date().toISOString().split('T')[0] ;%> />



                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a href="" class="form-button-cancel">Cancel</a>
                    </div>

                </form>
            </main>
<%- include('../../fragments/footer.ejs') %>

