<%- include('../../fragments/header.ejs') %>

            <main>
                <h2>Singups list</h2>

                <table class="raids-table">
                    <thead>
                        <tr>
                            <th>Raid Id</th>
                            <th>Raid Name</th>
                            <th>Raid Date</th>
                            <th>Player</th>
                            <th>Role</th>
                            <th>Signup Note</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% for (let sign of signups) {%>
                    <tr>
                        <td><%=sign.raid_id %></td>
                        <td><%=sign.raid.instanceName %></td>
                        <td><%=sign.raid.raidDate.toISOString().split('T')[0] %></td>
                        <td><%=sign.player.ingameName %></td>
                        <td><%=sign.role %></td>
                        <td><%=sign.signupNote %></td>
                        <td>
                            <% if(loggedUser.guildRank == 'GUILD MASTER' || loggedUser.guildRank == 'OFFICER') { %>
                            <ul class="list-actions">
                                <li>
                                    <a href="/signups/delete/<%=sign._id%>" class="list-actions-button-delete">Remove</a>
                                </li>
                            </ul>
                            <% }%>

                            <% if(loggedUser.ingameName == sign.player.ingameName) { %>
                            <ul class="list-actions">
                                <li>
                                    <a href="/signups/delete/<%=sign._id%>" class="list-actions-button-delete">Remove</a>
                                </li>
                            </ul>
                            <% } %>
                        </td>
                        <% } %>
                    </tbody>

                </table>

            </main>

<%- include('../../fragments/footer.ejs') %>

